# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata

# usernames and passwords for db connections
database.csv

# confidential fishery dependent data
*confidential*



# folders
Documents/

# large files


# Don't track data
*.xlsx
*.xlsm
*.docx
*.pptx
*.Rdata

# Don't track binary or fig files
*.docx
*.pptx
*.png
*.pdf
*.png

# ignore shape files
shapefiles

# ignore zip files
*.zip

# Windows thumbnail cache files
Thumbs.db

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Others
Data/
Output/
